---
// layout: ../../layouts/ResearchTopicLayout.astro
// title: 高精細テクスチャ識別とDX / High-definition-texture-identification-and-DX
// tags: ["高精細画像 AI", "テクスチャ識別"]
import Fig from "../../components/Fig.astro";
import ResearchTopicLayout from "../../layouts/ResearchTopicLayout.astro";
---

<ResearchTopicLayout title={"高精細画像AI"}>
  <h1>高精細画像AI</h1>
  <h2>高精細テクスチャ識別とDX</h2>
  <p>
    テクスチャ識別は機械学習において古くから研究されていますが，
    <strong>
      人間でも識別困難な微細な模様の違いまでを高精度に特定するのはチャレンジングな問題でした．
    </strong>
     撮影時の照明の明るさや角度，さらには色温度が変わると，その識別精度も顕著に影響を受けます．
  </p>
  <p>
    加えて，家庭やオフィスで用いられる照明器具が多種多様であることから，
    照明の色調によっては識別の精度が下がる可能性が存在しています．
    そのため，これらの多様な撮影環境に強い，よりロバストな識別システムが望まれていました．
  </p>
  <Fig src={"/fig/kabepita-app.png"} caption={"壁紙識別アプリ"} />
  <p>
    我々は
    <strong>
      <a href="https://komatsu-coltd.co.jp/">民間企業</a>
       と共同で微細なテクスチャの差異を高度に識別できる壁紙識別システムを開発し，
    </strong>
     アプリ化してリリースいたしました．
    今回は識別対象を壁紙に限定しておりますが，微細模様の識別が求められるフィールドは多様であり，
    建築資材業界以外の様々な分野での応用が期待されています．
  </p>
  <Fig
    src={"/fig/kabepita-liaison.png"}
    caption={"同志社大学ニューズレター　LIAISONに我々の共同プロジェクトが掲載されました"}
    width={500}
  />

  <h2>AIの癖を読み解く</h2>
  <p>
    ディープラーニングの構成要素であるニューラルネットワークは様々な
    <strong>“癖”</strong>を持っています． 例えば，
    畳み込みニューラルネットワークは物体の大域的形状よりも局所的特徴を捉える能力に優れています．
    また，入力画像に目に見えない少しの揺らぎを与えるだけで，AIの判断を狂わせる事ができます．
  </p>
  <Fig
    src={"/fig/kaeru.png"}
    caption={"画像分解を用いてニューラルネットワークの“癖”をコントロールすることができる"}
    width={500}
  />
  <Fig
    src={"/fig/adversarial-attack.png"}
    caption={"数式画像にアタックをかけて数式OCRに誤認識させる"}
    width={500}
  />
  <p>
    我々は様々な手法で
    <strong>
      このようなニューラルネットワークの癖を読み解き，システムの安定化，認識精度の向上を達成し，
    </strong>
     SNS/Webシステム解析や時系列データ予測などの分野に応用しています．
  </p>

  <h2>ゼロショット画像復元</h2>
  <p>
    機械学習を用いてノイズやボケなどで劣化した観測画像から元の綺麗な画像を復元するには，
    一般に劣化画像と劣化のない原画像のペアが大量に必要となります．
    しかし実際のシチュエーションにおいて，このような原画像を用意するのは現実的ではありません．
  </p>
  <Fig
    src={"/fig/zero-shot.png"}
    caption={"画素を意図的に欠損させ，その画素を周りの画素で埋めるように学習をすると，1 枚の画像のみで欠損復元が可能となる．"}
    width={500}
  />
  <p>
    この問題を解決するために，
    <strong>
      我々は，教師画像のみならず，学習データを一切必要としないゼロショット学習法を考案し，
    </strong>
     様々なデノイズ，ボケ除去，超解像などの復元タスクに応用する研究を行っています．
    学習データが一切なくても，学習データがある場合と同等の精度で復元が可能になります．
  </p>
</ResearchTopicLayout>
