---
// layout: ../../layouts/ResearchTopicLayout.astro
// title: 高精細テクスチャ識別とDX / High-definition-texture-identification-and-DX
// tags: ["高精細画像 AI", "テクスチャ識別"]
import Fig from "@/components/Fig.astro";
import ResearchTopicLayout from "../../layouts/ResearchTopicLayout.astro";
---

<ResearchTopicLayout title={"高次元データの知識抽出"}>
  <h1>高次元データの知識抽出</h1>
  <h2>医療画像解析</h2>
  <p>
    MRIやCT画像などの高次元データは内部に豊富な情報が包含されているが，その情報を抽出するのはチャレンジングな問題です．
    医療画像から様々な特徴量を抽出して，画像診断に応用する技術はRadiomicsと呼ばれ，近年注目を集めています．
  </p>
  <Fig src={"/fig/radiomics.png"} caption={"Radiomicsの概要"} width={500} />
  <p>
    本研究室では，スパースコーディングや深層学習技術をRadoimicsに応用し，
    画像高精細化による診断精度の向上や脳腫瘍患者の術後生存期間予測に取り組んでいます．
  </p>
  <p>
    我々は，スパースコーディングと呼ばれる数理的手法や深層学習を用いて，
    人々の移動パターンや集まり方の分析，市場動態や消費者行動の予測，などの研究を行っています．
    これにより，より効率的な交通システムや公共施設の配置や，製品戦略の最適化が可能になります．
  </p>

  <h2>主観のデータ化</h2>
  <p>
    これまでの画像分類は，画像に，車，イヌ，などのラベルをつけて，画像とラベルの関係を学習することで，分類を可能にしていました．
    しかし，この方法ではその画像の持つ「雰囲気」やそのシーンがもつ「状況」などの，
    ラベルで表現することが難しい分類タスクに適用することはできません．
  </p>
  <p>
    我々はこのような曖昧で直接ラベル付けが困難な画分類を可能にする手法を研究しています．
    これにより従来にはない，新しい観点の画像検索や推薦が可能になります．
  </p>
</ResearchTopicLayout>
