---
// layout: ../../layouts/ResearchTopicLayout.astro
// title: 高精細テクスチャ識別とDX / High-definition-texture-identification-and-DX
// tags: ["高精細画像 AI", "テクスチャ識別"]
import Fig from "@/components/Fig.astro";
import ResearchTopicLayout from "../../layouts/ResearchTopicLayout.astro";
---

<ResearchTopicLayout title={"時空間/グラフ × データサイエンス"}>
  <h1>時空間/グラフ × データサイエンス</h1>

  <h2>人流データ・経済データ解析</h2>
  <p>
    AIによる時空間解析は，近年，多くの産業や研究分野でその有用性が証明されています．
    特に，「AIを用いた人流データ解析，経済データ解析，時空間データ解析」は，
    都市計画，交通，マーケティング，など，多くの応用分野で極めて重要です．
  </p>
  <Fig src={"/fig/advcrop_yoshida.png"} caption={""} width={500} />
  <p>
    我々は，スパースコーディングと呼ばれる数理的手法や深層学習を用いて，
    人々の移動パターンや集まり方の分析，市場動態や消費者行動の予測，などの研究を行っています．
    これにより，より効率的な交通システムや公共施設の配置や，製品戦略の最適化が可能になります．
  </p>

  <h2>色彩の定量化</h2>
  <p>
    AIは形状や模様の特徴を把握するのは得意な反面，色の差異を識別するのはあまり得意ではありません．
    また，人間は二つの画像を見比べて，色彩の構成が類似しているか否かを直感的に判断することが可能ですが，
    これもまたAIにとってみれば難しいタスクなのです．
  </p>
  <Fig
    src={"/fig/color-similarity.png"}
    caption={"色構成による画像検索の例"}
    width={500}
  />
  <p>
    我々は色構成をグラフ構造で表現し，機械学習手法を適用することで，
    色彩の分布や相対的な位置関係を考慮した色彩構成の類似度を算出する，新たな手法を開発しました．
    この手法は，従来の手法では捉えきれなかった色彩構成の類似度をより精緻に評価することが可能となります．
  </p>
</ResearchTopicLayout>
