---
import { blackA } from "@radix-ui/colors";
import { Link2Icon } from "@radix-ui/react-icons";
export type NewsItem = {
  date: string;
  items: {
    title: string;
    href?: string;
    linkText?: string;
    authors: string[];
  }[];
};
interface Props {
  news: NewsItem[];
}
const { news } = Astro.props;
---

<div
  style={{
    display: "flex",
    flexDirection: "column",
    gap: "1em",
    padding: "0.25rem 0",
  }}
>
  {
    news.map(({ date, items }) => (
      <div
        style={{
          display: "flex",
          flexDirection: "row",
          gap: "1em",
          rowGap: "1em",
          fontSize: "0.875rem",
          fontWeight: 500,
          color: blackA.blackA12,
        }}
      >
        <div
          style={{
            display: "flex",
            flexDirection: "row",
            gap: "1rem",
          }}
        >
          <div>
            <strong>{date}</strong>
          </div>
          <div
            style={{
              display: "flex",
              flexDirection: "column",
              gap: "0.75rem",
            }}
          >
            {items.map((item) => {
              const { title, href } = item;
              return (
                <div>
                  {href && (
                    <a
                      href={href}
                      style={{
                        textDecoration: "none",
                      }}
                    >
                      {title}
                      <Link2Icon
                        style={{
                          width: "fit-content",
                          height: "fit-content",
                          border: `1px solid ${blackA.blackA3}`,
                          borderRadius: "1.5rem",
                          display: "inline-block",
                          verticalAlign: "middle",
                          padding: "0.15rem 0.5rem",
                          backgroundColor: "rgba(255, 255, 255, 0.3)",
                          backdropFilter: "blur(10px)",
                        }}
                      />
                    </a>
                  )}
                </div>
              );
            })}
          </div>
        </div>
      </div>
    ))
  }
</div>
