---
import { blackA, blueDark } from "@radix-ui/colors";
export type NewsItem = {
  date: string;
  title: string;
  href?: string;
  linkText?: string;
  authors: string[];
};
interface Props {
  news: NewsItem[];
}
const { news } = Astro.props;
---

<div
  style={{
    display: "flex",
    flexDirection: "column",
    gap: "1rem",
    paddingLeft: "0.25rem",
  }}
>
  {
    news.map((news, i) => (
      <div
        style={{
          display: "flex",
          flexDirection: "row",
          gap: "1em",
          rowGap: "1em",
          fontSize: "0.875rem",
          fontWeight: 500,
          color: blackA.blackA12,
        }}
      >
        <div style={{}}>{news.date}</div>
        <div
          style={{
            display: "flex",
            flexDirection: "column",
            gap: "0.25rem",
          }}
        >
          <div>
            <p>
              {news.title}
              {news.href && (
                <a
                  href={news.href}
                  style={{
                    color: blueDark.blue9,
                    textDecoration: "underline",
                  }}
                >
                  [{news.linkText || "URL"}]
                </a>
              )}
            </p>
          </div>
          {false && (
            <div>
              <div
                style={{
                  display: "flex",
                  flexDirection: "row",
                  gap: "0.5rem",
                }}
              >
                {news.authors.map((author, i) => (
                  <div>{author}</div>
                ))}
              </div>
            </div>
          )}
        </div>
      </div>
    ))
  }
</div>
