---
import Card from "@/components/Card.astro";
import News, { type NewsItem } from "../components/News.astro";
import Layout from "../layouts/Layout.astro";

// TODO: デザイン見直し
const news: NewsItem[] = [
  {
    date: "2024/02",
    items: [
      {
        title: "我々の産学連携による成果が様々なメディアで紹介されました",
        href: "https://www.google.com/search?q=%E5%90%8C%E5%BF%97%E7%A4%BE+%E3%82%B3%E3%83%9E%E3%83%84",
        authors: [],
      },
    ],
  },
  {
    date: "2023/12",
    items: [
      {
        title:
          "大学のニューズレターに我々が行う産学連携の取り組みが紹介されました．",
        href: "https://kikou.doshisha.ac.jp/attach/page/RESEARCH_AND_DEVELOPMENT-PAGE-JA-1041/185082/file/WEB_liaison70_.pdf",
        // linkText: "PDF",
        authors: [],
      },
    ],
  },
  {
    date: "2023/11",
    items: [
      {
        title: "奥田正浩教授が情報計測オンラインセミナーで講演しました．",
        href: "https://measurement-informatics-seminars.jp/",
        authors: [],
      },
      {
        title:
          "コマツ株式会社との共同研究に関するプレスリリースが配信されました．",
        href: "https://www.doshisha.ac.jp/news/detail/001-JdzIZe.html",
        authors: [],
      },
      {
        title:
          "岩田晃典君が信号処理シンポジウムの信号処理若手奨励賞を受賞し，授賞式に出席しました．",
        href: "https://www.doshisha.ac.jp/news/2023/0322/news-detail-9492.html",
        authors: ["岩田晃典"],
      },
    ],
  },
  {
    date: "2023/10",
    items: [
      {
        title:
          "岩田晃典君が主著のCNNバイアスに関する論文がジャーナル APSIPA Trans. Sig. Info. Proc.に掲載されました．",
        href: " https://www.nowpublishers.com/article/Details/SIP-2023-0003",
        authors: ["岩田晃典"],
      },
    ],
  },
  {
    date: "2023/07",
    items: [
      {
        title:
          "板坂樹生君のHSI復元に関する論文が、ジャーナルIEEE Accessに採択されました",
        href: " https://ieeexplore.ieee.org/document/10192384",
        authors: ["板坂樹生"],
      },
    ],
  },
];
---

<Layout title="同志社大学 知的機構研究室（奥田研）">
  <main
    style={{
      padding: "5rem 1rem",
      gap: "2.5rem",
      display: "flex",
      flexDirection: "column",
    }}
  >
    <section>
      <h2
        style={{
          paddingBottom: "2rem",
        }}
      >
        News
      </h2>
      <News news={news} />
    </section>
    <section
      style={{
        gap: "1.5rem",
        display: "flex",
        flexDirection: "column",
      }}
    >
      <h2>研究内容 / Research</h2>
      <Card
        href={"/research/high-definition-image-ai"}
        title={"高精細画像AI"}
        body={"高精細テクスチャ識別とDX / AIの癖を読み解く / ゼロショット画像復元"}
      />

      <Card
        href={"/research/knowledge-extraction"}
        title={"高次元データの知識抽出"}
        body={"医療画像解析 / 主観のデータ化"}
      />

      <Card
        href={"/research/spatio-temporal-graph"}
        title={"時空間/グラフ × データサイエンス"}
        body={"人流データ・経済データ解析 / 色彩の定量化"}
      />
    </section>
  </main>
</Layout>
