---
import { CommonHeader } from "@/ui/common-header";
import "@fontsource/noto-sans-jp";
import "../styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    {/* 背景画像 */}
    <div
      style={{
        position: "fixed",
        top: 0,
        left: 0,
        width: "100%",
        minHeight: "100vh",
        backgroundImage: "url(/background.jpg)",
        backgroundSize: "cover",
        backgroundPosition: "center",
        backgroundAttachment: "fixed",
        backgroundRepeat: "no-repeat",
        filter: "blur(10px) saturate(2.5)",
        zIndex: -1,
      }}
    >
    </div>
    <!-- <Header /> -->
    <CommonHeader client:only="react" />
    <div
      style={{
        backgroundColor: "rgba(255, 255, 255, 0.8)",
      }}
    >
      <slot />
    </div>
  </body>
</html>
